@charset "utf-8";
/* CSS Document */

/*reset da modelo*/
.navegacao ul li .menu-home {
	text-decoration: underline;
}
.menu-movel li .menu-home {
	background: #0054a6;
	color: #fff;
	pointer-events: none;
}
.titulos-container, .conteudos-navegacao {
	display: none;
	visibility: hidden;
}
.corpo, .conteudos {
	margin: 0 auto;
	max-width: 2000px;
	padding: 0;
}
/* banners */
.banners {
	display: block;
}
/* noticias videos e conversando */
.noticias-videos-conversando-container-geral {
	display: block;
	margin-top: 35px;
	max-width: 2000px;
	overflow: hidden;
	position: relative;
	width: 100%;
	z-index: 1;
}
.noticias-videos-conversando-container-geral:before {
	background-image: -moz-linear-gradient( 0deg, rgb(0,84,166) 0%, rgb(0,84,166) 21%, rgb(255,255,255) 21%, rgb(255,255,255) 100%);
	background-image: -webkit-linear-gradient( 0deg, rgb(0,84,166) 0%, rgb(0,84,166) 21%, rgb(255,255,255) 21%, rgb(255,255,255) 100%);
	background-image: -ms-linear-gradient( 0deg, rgb(0,84,166) 0%, rgb(0,84,166) 21%, rgb(255,255,255) 21%, rgb(255,255,255) 100%);
	content: '';
	display: block;
	height: 1px;
	left: 0;
	position: relative;
	top: 0;
	width: 100%;
	z-index: 1;
}
.noticias-videos-conversando-container-geral:after {
	background-image: -moz-linear-gradient( 0deg, rgb(255,255,255) 0%, rgb(255,255,255) 59%, rgb(0,84,166) 59%, rgb(0,84,166) 100%);
	background-image: -webkit-linear-gradient( 0deg, rgb(255,255,255) 0%, rgb(255,255,255) 59%, rgb(0,84,166) 59%, rgb(0,84,166) 100%);
	background-image: -ms-linear-gradient( 0deg, rgb(255,255,255) 0%, rgb(255,255,255) 59%, rgb(0,84,166) 59%, rgb(0,84,166) 100%);
	bottom: 0;
	content: '';
	display: block;
	height: 1px;
	left: 0;
	position: relative;
	width: 100%;
	z-index: 1;
}
.noticias-videos-conversando-container {
	display: block;
	margin: 0 auto;
	max-width: 1170px;
	padding: 0 1%;
	position: relative;
	width: 100%;
	z-index: 2;
}
/* noticias */
.noticias-container-geral {
	border-right: solid 1px #0054A6;
	display: inline-block;
	float: left;
	margin-right: 2%;
	max-width: 744px;
	position: relative;
	width: 100%;
}
.noticias-container-geral:after {
	background: #ffffff;
	bottom: -1px;
	content: '';
	display: block;
	height: 1px;
	left: 0;
	max-width: 744px;
	position: absolute;
	width: 100%;
}
.noticias-cabecalho {
	background: #ffffff;
	display: block;
	height: 98px;
	margin-top: -1px;
	padding-top: 30px;
	position: relative;
	width: 100%;
	z-index: 2;
}
.noticias-cabecalho:before {
	background: url(../img/home-noticias-videos-linha-esquerda.png) no-repeat left top #ffffff;
	border-top: solid 1px #0054A6;
	content: '';
	height: 69px;
	left: -13px;
	position: absolute;
	top: 0;
	width: 13px;
}
.noticias-cabecalho:after {
	background: #0054A6;
	bottom: 29px;
	content: '';
	height: 1px;
	left: 0;
	position: absolute;
	width: 100%;
	z-index: 1;
}
.noticias-titulo {
	background: #ffffff;
	color: #005794;
	display: block;
	float: left;
	font-family: 'myriad_probold';
	font-size: 2rem;
	line-height: 2.2rem;
	padding: 0 2px;
	position: relative;
	z-index: 4;
}
.noticias-titulo strong {
	display: block;
	font-size: 3.7rem;
}
.noticias-titulo-fundo-bolas {
	background: url(../img/home-noticias-topo-fundo-bolinhas.png) no-repeat center top;
	bottom: 25px;
	display: block;
	height: 10px;
	left: 0;
	position: absolute;
	width: 100%;
	z-index: 4;
}
.noticias-titulo-fundo-bolas:before {
	background: url(../img/home-noticias-topo-fundo-bolinhas.png) no-repeat center top #ffffff;
	content: '';
	display: block;
	height: 10px;
	margin: 0 auto;
	padding: 0 2px;
	width: 97px;
}
.noticias-chamada {
	color: #005794;
	display: block;
	float: right;
	font-family: 'myriad_proboldit';
	font-size: 1.5rem;
	height: 35px;
	margin-right: 4%;
	margin-top: 20px;
}
.noticias-titulo-mascara-direita {
	background: #ffffff;
	display: block;
	height: 68px;
	position: absolute;
	right: -1px;
	top: 0;
	width: 1px;
}
.noticias-container {
	display: block;
	overflow: hidden;
	padding-right: 5%;
	text-align: center;
	width: 100%;
}
.noticia {
	display: inline-block;
	margin: 0 auto;
	margin-bottom: 20px;
	min-width: 311px;
	text-align: left;
	width: 40%;
}
.noticias-container div:nth-child(odd) {
	background: #dfeeca;
}
.noticias-container div:nth-child(even) {
	background: #fdf4e4;
	margin-left: 6%;
}
.noticias-container div:nth-child(3), .noticias-container div:last-child {
	margin-bottom: 0;
}
.noticia-img-linha {
	border-bottom: dotted 2px rgba(78,78,78,0.20);;
	display: block;
	max-width: 311px;
	padding-bottom: 3px;
	position: relative;
	width: 100%;
}
.noticia-img {
	display: block;
	max-width: 311px;
	width: 100%;
}
.noticia-textos {
	color: #597a96;
	display: block;
	font-family: 'myriad_proregular';
	font-size: 1.2rem;
	line-height: 1.6rem;
	padding: 5px 6%;
	text-align: justify;
	width: 100%;
}
.noticia-data {
	display: block;
	font-family: 'myriad_probold';
	font-size: 1.1rem;
	margin-bottom: 2px;
	width: 100%;
}
.noticia-titulo {
	display: block;
	color: #597a96;
	font-family: 'myriad_probold';
	font-size: 1.3rem;
	width: 100%;
}
.noticias-container div:nth-child(odd) .noticia-data {
	color: #12aaeb;
}
.noticias-container div:nth-child(even) .noticia-data {
	color: #f05033;
}

/* videos e conversando */
.videos-conversando-container {
	display: inline-block;
	float: left;
	margin-top: 15px;
	max-width: 355px;
	position: relative;
	width: 100%;
	z-index: 2;
}
/* videos */
.videos-container {
	display: block;
	margin-bottom: 25px;
	max-width: 355px;
	position: relative;
	width: 100%;
}
.videos-cabecalho {
	display: block;
	margin-bottom: 11px;
	position: relative;
	width: 100%;
}
.videos-titulo-icone {
	background: url(../img/home-videos-topo-fundo-titulo.png) no-repeat left top;
	display: block;
	height: 40px;
	left: -40px;
	position: absolute;
	top: 0px;
	width: 40px;
}
.videos-titulo {
	color: #f05033;
	display: block;
	font-family: 'myriad_probold';
	font-size: 3.7rem;
	letter-spacing: -.2rem;
	padding-left: 3px;
	padding-top: 15px;
	position: relative;
	width: 100%;
}
.videos-titulo:before {
	content: 'TV';
	display: block;
	font-size: 1.8rem;
	left: 14px;
	position: absolute;
	top: 2px;
	width: 12px;
}
.videos {
	background: #f05033;
	display: block;
	max-width: 355px;
	padding: 8px 2px;
	padding-top: 25px;
	position: relative;
	text-align: center;
	width: 100%;
}
.videos:before {
	border-top: 16px solid #f05033;
	border-left: 16px solid transparent;
	content: '';
	height: 0;
	left: -16px;
	position: absolute;
	top: 0;
	width: 0;
}
.videos-chamada {
	color: #005794;
	display: block;
	font-family: 'myriad_probold';
	font-size: 1.5rem;
}
/* conversando */
.conversando-container {
	display: block;
	max-height: 350px;
	max-width: 355px;
	overflow: visible;
	position: relative;
	width: 100%;
}
.conversando-cabecalho {
	display: block;
	margin-bottom: 7px;
	position: relative;
	text-align: right;
	width: 100%;
}
.conversando-titulo {
	display: inline-block;
	max-width: 235px;
	width: 100%;
}
.conversando {
	border: solid 1px transparent;
	display: block;
	font-family: 'myriad_proregular';
	font-size: 1.4rem;
	line-height: 2rem;
	padding: 4px;
	position: relative;
	width: 100%;
}
.conversando:hover {
	border: solid 1px #7bb823;
}
.conversando a {
	color: #5a5a5a;
}
.conversando a:hover {
	text-decoration: none;
}
.conversando-data {
	background: #7bb823;
	color: #ffffff;
	display: block;
	font-family: 'myriad_probold';
	font-size: 1.4rem;
	margin-bottom: 4px;
	max-width: 109px;
	padding: 2px;
	text-align: center;
	width: 100%;
}
.conversando-titulo-chamada {
	display: inline-block;
	font-family: 'myriad_prosemibold';
}
.conversando-container div:nth-child(odd):hover {
	border: solid 1px #f7b234;
}
.conversando-container div:nth-child(odd) {
	margin: 8px 0;
}
.conversando-container div:nth-child(odd) .conversando-data {
	background: #f7b234;
}
.conversando-chamada {
	color: #6f63a4;
	display: block;
	font-family: 'myriad_proboldit';
	font-size: 1.5rem;
	margin-left: 4px;
}
.conversando-chamada:hover {
	color: #f7b234;
}
/* links atividades */
.links-container-geral {
	background: #D8F6FE;
	display: block;
	margin: 38px 0 25px 0;
	max-width: 2000px;
	width: 100%;
}
.links-container {
	display: block;
	margin: 0 auto;
	max-width: 1170px;
	overflow: hidden;
	padding: 35px 2%;
	text-align: center;
	width: 100%;
}
.link-atividade {
	border-right: solid 1px #b0d2ea;
	display: inline-block;
	height: 143px;
	line-height: 14rem;
	margin: 0 .5%;
	padding: 0 2%;
	width: 18.5%;
}
.links-container a:last-child {
	border-right: none;
}
/* galeria e eventos */
.galeria-eventos-container {
	display: block;
	margin: 0 auto;
	margin-bottom: 15px;
	max-width: 1170px;
	overflow: hidden;
	padding: 0 2%;
	width: 100%;
}
/* galeria */
.galeria-container-geral {
	display: inline-block;
	float: left;
	margin-right: 2%;
	max-width: 480px;
	width: 100%;
}
.galeria-cabecalho {
	color: #005794;
	display: block;
	font-family: 'myriad_probold';
	font-size: 2.5rem;
	line-height: 5rem;
	position: relative;
	width: 100%;
	z-index: 1;
}
.galeria-cabecalho:after {
	background: #086aaa;
	content: '';
	display: block;
	height: 1px;
	left: 0;
	position: absolute;
	top: 31px;
	width: 100%;
	z-index: 1;
}
.galeria-icone-titulo {
	background: url(../img/home-integral-titulo-icone.png) no-repeat left top #ffffff;
	display: inline-block;
	float: left;
	height: 41px;
	position: relative;
	width: 47px;
	z-index: 2;
}
.galeria-titulo {
	background: #ffffff;
	padding-right: 8px;
	position: relative;
	z-index: 2;
}
.galeria-chamada {
	background: #ffffff;
	color: #005794;
	display: block;
	float: right;
	font-family: 'myriad_proboldit';
	font-size: 1.5rem;
	height: 30px;
	margin-top: 5px;
	padding: 0 4px;
	position: relative;
	z-index: 2;
}
.galeria-chamada:hover {
	text-decoration: none;
}
.galeria-container {
	display: block;
	width: 100%;
}
.galeria-destaque {
	display: inline-block;
	float: left;
	margin-right: 2%;
	max-width: 290px;
	width: 100%;
}
.galeria-destaque a {
	color: #597a96;
	font-family: 'myriad_probold';
	font-size: 1.5rem;
	line-height: 2rem;
}
.galeria-destaque a div {
	padding: 0 2%;
}
.galeria-link {
	display: block;
}
.galeria-link span {
	border: solid 2px #086aaa;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	display: block;
	position: relative;
}
.galeria-destaque .galeria-link span {
	display: block;
	margin-bottom: 8px;
	max-width: 290px;
	position: relative;
	width: 100%;
	z-index: 1;
}
.galeria-destaque .galeria-link span:after {
	background: #086aaa;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	content: '';
	display: block;
	height: 162px;
	position: absolute;
	right: -5px;
	top: 5px;
	width: 290px;
	z-index: 1;
}
.galeria-destaque-img {
	max-width: 285px;
	position: relative;
	width: 100%;
	z-index: 3;
}
.galeria-destaque .galeria-link span:before {
	background: rgba(255,255,255,0.85);
	color: rgba(14, 107, 173, 0.82);
	content: '\f002';
	display: block;
	font-family: 'FontAwesome';
	font-size: 7rem;
	height: 162px;
	line-height: 16rem;
	opacity: 0;
	position: absolute;
	right: -1px;
	text-align: center;
	top: 0;
	width: 287px;
	z-index: 4;
}
.galeria-destaque .galeria-link span:hover:before {
	opacity: 1;
}
.galeria-fotos-lateral {
	display: inline-block;
	float: right;
	max-width: 155px;
	width: 100%;
}
.galeria-fotos-lateral .galeria-link span:after {
	background: #086aaa;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	content: '';
	display: block;
	height: 86px;
	position: absolute;
	right: -5px;
	top: 5px;
	width: 154px;
	z-index: 1;
}
.galeria-fotos-lateral .galeria-link span:before {
	background: rgba(255,255,255,0.85);
	color: rgba(14, 107, 173, 0.82);
	content: '\f002';
	display: block;
	font-family: 'FontAwesome';
	font-size: 4rem;
	height: 86px;
	line-height: 8rem;
	opacity: 0;
	position: absolute;
	right: -1px;
	text-align: center;
	top: 0;
	width: 153px;
	z-index: 4;
}
.galeria-fotos-lateral .galeria-link img {
	position: relative;
	z-index: 2;
}
.galeria-fotos-lateral .galeria-link span:hover:before {
	opacity: 1;
}
.galeria-fotos-lateral a:first-child {
	margin-bottom: 25px;
}
/* eventos */
.eventos-container {
	display: inline-block;
	float: left;
	margin-top: 13px;
	max-width: 578px;
	text-align: center;
	width: 100%;
}
.eventos-cabecalho {
	display: block;
	position: relative;
	text-align: left;
	width: 100%;
	z-index: 1;
}
.eventos-cabecalho:before {
	background: #f05033;
	content: '';
	display: block;
	height: 1px;
	left: 0;
	position: absolute;
	top: 18px;
	width: 100%;
	z-index: 1;
}
.eventos-titulo {
	background: #ffffff;
	color: #f05033;
	display: block;
	float: left;
	font-family: 'myriad_probold';
	font-size: 2.5rem;
	padding-right: 8px;
	position: relative;
	z-index: 2;
}
.eventos-chamada {
	background: #ffffff;
	color: #f05033;
	display: block;
	font-family: 'myriad_proboldit';
	font-size: 1.5rem;
	float: right;
	margin-top: 5px;
	padding: 0 4px;
	position: relative;
	z-index: 2;
}
.eventos-chamada:hover {
	color: #f05033;
	text-decoration: none;
}
.evento {
	display: inline-block;
	max-width: 261px;
	text-align: left;
	width: 100%;
}
.evento a {
	color: #597a96;
	font-family: 'myriad_probold';
	font-size: 1.4rem;
	line-height: 2rem;
}
.evento a div {
	padding: 0 2%;
}
.evento span {
	border: solid 2px #f7b234;
	display: block;
	margin-bottom: 8px;
	max-width: 261px;
	position: relative;
	width: 100%;
	z-index: 1;
}
.evento span:after {
	background: #f7b234;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	content: '';
	display: block;
	height: 145px;
	position: absolute;
	right: -5px;
	top: 5px;
	width: 257px;
	z-index: 1;
}
.evento span:before {
	background: rgba(255,255,255,0.85);
	color: rgba(247, 178, 52, 0.82);
	content: '\f002';
	display: block;
	font-family: 'FontAwesome';
	font-size: 6rem;
	height: 145px;
	line-height: 14rem;
	opacity: 0;
	position: absolute;
	right: -1px;
	text-align: center;
	top: 0;
	width: 258px;
	z-index: 4;
}
.evento img {
	position: relative;
	z-index: 2;
}
.evento span:hover:before {
	opacity: 1;
}
.evento1 {
	margin-right: 7%;
}
.evento1 span {
	border: solid 2px #80ba25;
	display: block;
	margin-bottom: 8px;
	max-width: 261px;
	position: relative;
	width: 100%;
	z-index: 1;
}
.evento1 span:after {
	background: #80ba25;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	content: '';
	display: block;
	height: 145px;
	position: absolute;
	right: -5px;
	top: 5px;
	width: 257px;
	z-index: 1;
}
.evento1 span:before {
	background: rgba(255,255,255,0.85);
	color: rgba(128, 186, 37, 0.82);
	content: '\f002';
	display: block;
	font-family: 'FontAwesome';
	font-size: 6rem;
	height: 145px;
	line-height: 14rem;
	opacity: 0;
	position: absolute;
	right: -1px;
	text-align: center;
	top: 0;
	width: 258px;
	z-index: 4;
}
.evento1 span:hover:before {
	opacity: 1;
}
.evento-titulo-unidade-1, .evento-titulo-unidade-2 {
	color: #ffffff;
	display: block;
	font-family: 'myriad_proregular';
	font-size: 1.4rem;
	height: 18px;
	line-height: 12px;
	margin-bottom: 13px;
	padding: 4px;
	text-align: center;
	text-transform: uppercase;
	width: 80px;
}
.evento-titulo-unidade-1 {
	background: #80ba25;
}
.evento-titulo-unidade-2 {
	background: #f7b234;
}




@media screen and (max-width: 1161px) and (min-width: 768px) {
.noticias-videos-conversando-container-geral {
	margin-top: 45px;
}
.noticias-videos-conversando-container-geral:after, .noticias-container-geral:after {
	background: #0054A6;
	max-width: 1080px;
}
.noticias-container-geral {
	display: block;
	float: none;
	margin: 0 auto;
	max-width: 1080px;
	padding-bottom: 15px;
}
.noticias-container {
	padding: 0;
}
.noticia {
	min-width: 250px;
	width: 23%;
}
.noticias-container div:nth-child(even) {
	margin-left: 0;
}
.videos-conversando-container {
	max-width: 1080px;
	overflow: visible;
	padding: 0 2%;
}
.videos-container {
	display: inline-block;
	float: left;
	max-width: 400px;
	padding-left: 2%;
}
.conversando-container {
	display: inline-block;
	float: right;
	margin-bottom: 15px;
}
}
@media screen and (max-width: 1141px) and (min-width: 768px) {
.galeria-eventos-container {
	text-align: center;
}
.galeria-container-geral, .eventos-container {
	float: none;
	margin: 0 auto;
	text-align: left;
}
.eventos-container {
	display: block;
	float: none;
	margin-top: 45px;
}
}
@media screen and (max-width: 1100px) {
.link-atividade {
	margin: 15px 2%;
	text-align: center;
	width: 200px;
}
}
@media screen and (max-width: 1048px) and (min-width: 768px) {
.noticia {
	min-width: 200px;
}
}
@media screen and (max-width: 1021px) {
.link-atividade {
	border: solid 1px #D4E4EF !important;
	height: auto;
	padding: 4px;
}
}
@media screen and (max-width: 844px) and (min-width: 768px) {
.noticia {
	max-width: 311px;
	width: 48%;
}
.noticias-container div:nth-child(even) {
	margin-left: 2%;
}
}
@media screen and (max-width: 819px) {
.videos-conversando-container {
	display: block;
	float: none;
	margin: 0 auto;
	margin-top: 15px;
}
.videos-container {
	border-bottom: solid 1px #E1E1E1;
	margin-bottom: 15px;
	padding-bottom: 15px;
}
.videos-container {
	display: block;
	float: none;
	margin: 0 auto;
	max-width: 400px;
	padding-left: 0;
}
.conversando-container {
	display: block;
	float: none;
	margin: 15px auto;
}
}
@media screen and (max-width: 767px) {
.noticias-videos-conversando-container-geral {
	margin-top: 45px;
}
.noticias-videos-conversando-container-geral:after, .noticias-container-geral:after {
	background: #0054A6;
}
.noticias-container-geral {
	display: block;
	float: none;
	margin: 0 auto;
	padding-bottom: 15px;
}
.noticias-container {
	padding: 0 2%;
}
.videos-conversando-container {
	display: block;
	float: none;
	margin: 0 auto;
	margin-top: 15px;
}
.videos-container {
	border-bottom: solid 1px #E1E1E1;
	margin-bottom: 15px;
	padding-bottom: 15px;
}
.link-atividade {
	border: solid 1px #D4E4EF !important;
	height: auto;
	padding: 4px;
}
}
@media screen and (max-width: 724px) {
.noticia, .noticia-img-linha {
	max-width: 700px;
	margin: 0 auto !important;
	width: 100%;
}
.noticias-container div:nth-child(odd) {
	margin: 15px auto !important;
}
.noticia-img-linha {
	text-align: center;
}
.noticia-img {
	display: inline-block;
	margin: 0 auto;
}
}
@media screen and (max-width: 710px) {
.noticia, .noticia-img-linha {
	max-width: 700px;
	margin: 0 auto !important;
	width: 100%;
}
.noticias-container div:nth-child(odd) {
	margin: 15px auto !important;
}
.noticia-img-linha {
	text-align: center;
}
.noticia-img {
	display: inline-block;
	margin: 0 auto;
}
}
@media screen and (max-width: 605px) {
.eventos-container {
	text-align: center;
}
.evento {
	display: block;
	margin: 0 auto;
}
.evento1 {
	margin-bottom: 15px;
}
}
@media screen and (max-width: 489px) {
.galeria-destaque {
	display: block;
	float: none;
	margin: 0 auto;
}
.galeria-fotos-lateral {
	display: none;
	visibility: hidden;
}
}
@media screen and (max-width: 455px) {
.videos-titulo-icone {
	display: inline-block;
	float: left;
	left: 0;
	position: relative;
}
.videos-titulo:before {
	left: 49px;
}
}
@media screen and (max-width: 399px) {
.noticias-titulo-fundo-bolas {
	display: none;
	visibility: hidden;
}
}
@media screen and (max-width: 380px) {
.videos {
	max-width: 370px;
}
.videos iframe {
	width: 90% !important;
}
}